html {
    /*This is required for the footer to stick to the bottom of the page properly*/
    position: relative;
    min-height: 100%;
}

body, header, footer {
  font-family: Helvetica, Arial, sans-serif;
}

body {
    margin-bottom: 55px;
}

a {
    text-decoration: none;
}

.social-link {
    height: 50px;
}

.hyperlink-img {
  height: 15px;
}

.link {
  color: black;
}

.list-title {
    display:inline;
}

.list-header {
    margin: 0;
    margin-top: 25px;
    margin-left: 25px;
    display:inline;
}

.list-date {
    display: inline;
}

.list-description {
    margin-left: 25px;
    margin-bottom: 25px;
}

#container {
    margin-top: 10px;
    background-color: #9AC2FE;
}

.tabbed-panel {
    overflow: hidden;
    background-color: #FFF;
}

.tabbed-panel h3 {
    margin: 0;
}

.tabbed-panel button {
    border-radius: 10px 10px 0px 0px;
    background-color: #7F9FD0;
    color: #000;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border: 1px solid #8CB1E7;
    width: 33.33%;
}

.tabbed-panel button:hover {
    background-color: #8CB1E7;
}

.tabbed-panel button.active {
    background-color: #9AC2FE;
    border-bottom-color: #9AC2FE;
}

.tab-contents {
    display: none;
    padding: 6px 12px;
}

footer h4 {
    margin: 0;
    line-height: 50px;
}

footer {
    background-color:#81B1FF;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-style: solid;
    border-top-width: 5px;
    height: 50px;
    text-align: center;
}
